@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&family=Montserrat:ital,wght@0,600;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

// text-color
$font-Cabin: "Cabin", sans-serif;
$poragrif-color: #676767;
$poragrif-grey: #c2c2c2;

@mixin display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #0f0d0e;
}

// Start Navbar Styling

header {
  padding: 25px 135px 0 135px;

  .container {
    .navbar {
      @include display();

      ul {
        display: flex;
        align-items: center;
        gap: 62px;
        position: relative;

        a {
          text-decoration: none;
          color: $poragrif-color;
          font-weight: normal;
          font-size: 16px;

          .point {
            width: 7px;
            height: 7px;
            background: #ff0000;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            left: 35px;
            display: none;
          }
          .point2 {
            width: 7px;
            height: 7px;
            background: #ff0000;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            left: 155px;
            display: none;
          }
          .point3 {
            width: 7px;
            height: 7px;
            background: #ff0000;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            left: 282px;
            display: none;
          }
          .point4 {
            width: 7px;
            height: 7px;
            background: #ff0000;
            border-radius: 50%;
            position: absolute;
            top: -4px;
            left: 389px;
            display: none;
          }
        }
      }
      ul a:hover {
        color: #fff;

        .point {
          display: block;
        }
        .point2 {
          display: block;
        }
        .point3 {
          display: block;
        }
        .point4 {
          display: block;
        }
      }

      .search {
        display: flex;
        align-items: center;
        gap: 20px;
      }
    }
  }
}
